.tech-item {
  display: flex;
  align-items: center;
  margin: 0.25rem 0;
  font-size: 0.75rem;
  gap: 0.25rem 0.25rem;
}

.tech-blob {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.6rem;
  border-radius: 50%;
  background-color: var(--secondary);
}

.tech-item span {
  max-width: 85%;
}
