.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
  margin: 120px 0;
  opacity: 0;
}

.resume-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-card {
  display: flex;
  align-items: center;
  width: 80%;
  height: fit-content;
  gap: 20px;
}

.resume-bullets {
  width: 50px;
  height: 100%;
}

.bullet-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.bullet-icons {
  position: absolute;
  z-index: 1;
  width: 34px;
  height: 100%;
  background-color: var(--primary);
}

.bullets {
  position: relative;
  z-index: 2;
  width: 90%;
}

.resume-bullet-details {
  flex-grow: 1;
  width: fit-content;
  height: 420px;
  padding: 0;
  overflow: hidden;
}

.resume-details-carousal {
  transition: transform 1s ease-out;
}

.experience-description {
  margin: 10px 0 0 0;
  font-size: 0.8rem;
  text-align: justify;
  color: var(--dark);
}

.resume-description-text {
  font-size: 0.75rem;
}

.resume-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 420px;
}

.programming-skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 992px) {
  .resume-card {
    width: 950px;
    height: 360px;
  }

  .bullets {
    width: 86%;
  }

  .resume-bullets {
    width: 360px;
    margin: 30px 0;
    box-shadow: 15px 0 10px -20px var(--primary);
  }

  .resume-bullet-details {
    padding: 0 0 0 50px;
  }

  .experience-description {
    font-size: 1rem;
  }

  .resume-description-text {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .resume-card {
    width: 1100px;
  }
}
