.about-me-container {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
  opacity: 0;
}

.about-me-parent {
  width: 100%;
  max-width: 1100px;
}

.about-me-card {
  display: flex;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}

.about-me-profile {
  display: none;
  width: 50%;
  border-radius: 20px 0 0 20px;
  background-image: url('../../assets/images/me-about.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me-details {
  width: 100%;
  padding: 30px 0;
  text-align: justify;
  color: var(--dark);
}

.about-me-description {
  max-width: 80%;
  margin: 0 auto;
  font-size: 0.85rem;
}

.about-me-highlights {
  max-width: 80%;
  margin: 40px auto;
}

.about-me-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-me-options .highlighted-btn:hover {
  color: var(--dark);
}

@media only screen and (min-width: 576px) {
  .about-me-parent {
    width: 88%;
  }

  .about-me-card {
    box-shadow: 0 0px 20px -2px var(--primary);
    width: 100%;
  }

  .about-me-options {
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (min-width: 992px) {
  .about-me-card {
    margin: 0;
  }

  .about-me-profile {
    display: block;
  }

  .about-me-details {
    width: 48%;
    padding: 30px;
  }

  .about-me-description {
    margin: 16px auto;
    max-width: none;
  }

  .about-me-highlights {
    max-width: none;
  }
}
