.contact-container {
  min-height: 100vh;
  margin: 100px 0 0 0;
  opacity: 0;
}

.central-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 12px;
  background-color: var(--primary);
  box-shadow: 0 0px 20px -2px var(--primary);
  gap: 20px;
}

.central-form h2 {
  margin-bottom: 20px;
  color: var(--light);
}

.back-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 80px;
}

.img-form {
  display: none;
  width: 100%;
}

.img-form img {
  width: 100%;
  border-radius: 12px;
}

.back-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  padding: 15px;
  border-radius: 12px;
  background-color: var(--light);
  color: var(--primary);
  opacity: 0.9;
}

form label {
  margin-bottom: 5px;
  color: var(--dark);
  letter-spacing: 0.2rem;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 22px;
  padding: 0.5rem 1rem;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  color: var(--dark);
  transition: 0.3s;
}

form input:focus {
  border: 2px solid var(--primary);
  background-color: var(--light);
}

form textarea:focus {
  border: 2px solid var(--primary);
  background-color: var(--light);
}

form button {
  align-items: center;
  justify-content: center;
  width: 160px;
  margin-top: 15px;
  padding: 5px;
  border: 2px solid var(--light);
  border-radius: 19px;
  outline: none;
  background-color: var(--primary);
  font-size: 1.1rem;
  color: var(--light);
}

form button:hover {
  border: 2px solid var(--secondary);
  transition: all ease-in-out 0.15s;
}

.social-media {
  margin: 1rem 0 0.5rem;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .central-form {
    align-items: normal;
    letter-spacing: 0.2rem;
  }

  .back-form {
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    gap: 20px;
  }

  .img-form {
    display: block;
    flex: 1;
    align-self: center;
  }

  .back-form form {
    flex: 0.85;
  }
}
