.header {
  display: flex;
  padding: 4rem 0;
  background-color: var(--primary);
}

.menu-toggle {
  display: block;
  margin-left: 2.5rem;
  font-size: 2rem;
  color: var(--light);
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: -100%;
  top: 0px;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  padding: 0;
  background-color: var(--primary);
  transition: all 0.8s ease-out;
  opacity: 0.5;
  list-style-type: none;
}

.mobile-navigation {
  left: 0;
  opacity: 1;
}

.navigation li {
  font-weight: 600;
  color: var(--light);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .header {
    justify-content: right;
  }

  .menu-toggle {
    display: none;
  }

  .navigation {
    flex-direction: row;
    position: static;
    height: auto;
    opacity: 1;
  }

  .navigation li {
    margin-right: 3rem;
  }
}
