.testimonial {
  opacity: 0;
}

.testimonial-section {
  position: relative;
  z-index: -1;
  padding-top: 80px;
  background-attachment: fixed;
  background-image: url('../../../src/assets/images/handshake.jpg');
  background-position: center;
}
.testimonial-section::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  opacity: 0.85;
}
