@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.fade {
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-name: fade;
  animation-timing-function: ease;
}
