.skills {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.skills span {
  font-weight: 700;
  color: var(--secondary);
}

.percentage-bar {
  width: 80%;
  height: 1rem;
  background-color: var(--secondary);
}

.percentage-bar .activ-percentage-bar {
  height: 1rem;
  background-color: var(--primary);
}
